name: Publish Documentation

on:
  push:
    branches:
      - main
      - development

jobs:
  deploy:
    if: ${{ github.repository == 'slaclab/beamtime-calibration-suite' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          channels: conda-forge
          activate-environment: calibrationsuite-deployment-docs
          environment-file: doc-environment.yml

      - name: Build Docs
        shell: bash -l {0}
        run: |
          mkdocs build
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site/
